:root {
    --light: rgb(252, 252, 245);
    --contrast: rgb(230, 57, 70);
    --dark: rgb(29, 53, 87);
    --muted: rgb(69, 123, 157);
    --pale: rgb(168, 218, 220);
}

* {
    box-sizing: border-box;
    background-color: var(--light);
    color: var(--dark);
    font-family: 'Quicksand', sans-serif;
}

/* high score link and timer @ left/right sides of top of page*/
.banner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 10px;
    margin-right: 10px;
}

.banner > a {
    color: var(--muted);
    text-decoration: none;
}
/*link color change on hover*/
.banner > a:hover {
    color: var(--dark)
}

/*timer title and # display are even w/ baseline*/
#timer {
    display: flex;
    align-items: baseline;
}

/*needed more specific selection to get color*/
#timer > h3, div {
    color: var(--contrast);
}

.timer-count {
    margin-left: 3px;
}

/* Main page */
.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.instructions > h1 {
    font-size: 2.1rem;
    margin: 21px 0px;
}

.instructions p {
    width: 90%;
    font-size: 1rem;
    text-align: center;
}

.start-button {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    border-color: var(--muted);
    background-color: var(--dark);
    color: var(--light);
    font-size: 1rem;
    margin-top: 40px;
    transition: all .2s ease-in-out;
}
/*Start button grows and text changes color w mouse hover*/
.start-button:hover {
    transform: scale(1.1); 
    color: var(--pale);
}
/*default display set to none to hide until called by JS*/
#quiz {
    display: none;
    flex-direction: column;
    align-items: center;
}

h2#question {
    margin: 20px 0px;
    font-size: 2rem;
    text-align: center;
    color: var(--dark);
}

#buttons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
/*multiple choice answer buttons*/
button.choice {
    width: 200%;
    margin: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--muted);
    border: 2px ridge var(--dark);
    color: var(--light);
    transition: all .2s ease-in-out;
}
/*answers will grow and change color when user hovers */
button.choice:hover {
    transform: scale(1.1); 
    background-color: var(--pale);
    color: var(--dark);
}

/*answer feedback hidden until user chooses an answer*/
#wrong {
    display: none;
    flex-direction: row;
    justify-content: center;
}

#wrong p {
    color: var(--contrast);
    font-size: 1.5rem;
}

#correct {
    display: none;
      /*JS will set display to flex*/
    flex-direction: row;
    justify-content: center;
}

#correct p {
    color: var(--muted);
    font-size: 1.5rem;
}

#finish {
    display: none;
    flex-direction: column;
    align-items: center;
}

#finish h2 {
    color: var(--contrast);
    font-size: 2.1rem;
    margin-top: 10px;
}

#finish p {
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
}

#congrats {
    display: none;
    flex-direction: column;
    align-items: center;
    color: var(--dark)
}

#uh-oh {
    display: none;
    flex-direction: column;
    align-items: center;
    color: var(--dark)
}

#finalscores {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}


.btns {
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--muted);
    border: 2px ridge var(--dark);
    color: var(--light);
    transition: all .2s ease-in-out;
}

.btns:hover {
    transform: scale(1.1); 
    background-color: var(--pale);
    color: var(--dark);
}

.submit-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-score label {
    margin: 10px;
}

.submit-score input {
    margin: 10px;
}

#backbtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#backbtn > a {
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--muted);
    margin: 15px 0 0 15px;
}

#highscorespage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#highscorespage > h1 {
    font-size: 3rem;
    margin: 21px 0px;
    color: var(--contrast);
}

#allscores {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#allscores > li {
    text-align: left;
    font-size: 2.5rem;
    margin: 15px;
    color: var(--dark);
    font-weight: bold;
}

#allscores > li:nth-child(even) {
    color: var(--muted);
}

/*When screen = larger text = bigger and p element has larger side margins*/
@media screen and (min-width: 782px) {
    .banner > a {
        font-size: 1.2rem;
    }

    #timer {
        font-size: 1.2rem;
    }

    .instructions {
        margin-top: 0%;
    }

    .instructions > h1 {
        font-size: 2.4rem;
    }
    
    .instructions p {
        width: 70%;
        font-size: 1.3rem;
    }    

    .start-button {
        font-size: 1.3rem;
    }

    #finish h2 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    #finish p {
        width: 70%;
        font-size: 1.5rem;
    }  
    
    #highscorespage > h1 {
        font-size: 4rem;
    }

    #allscores > li {
        font-size: 3.5rem;
    }    
}   


@media screen and (min-width: 992px) {
    .banner > a {
        font-size: 1.5rem;
    }

    #timer {
        font-size: 1.5rem;
    }

    .instructions {
        margin-top: 0%;
    }

    .instructions > h1 {
        font-size: 3rem;
        margin-top: 15px;
    }
    
    .instructions p {
        width: 60%;
        font-size: 1.6rem;
        margin: 12px 0px;
    }    

    .start-button {
        font-size: 1.7rem;
    }

    #finish h2 {
        font-size: 3rem;
        font-weight: bolder;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #finish p {
        width: 60%;
        font-size: 1.6rem;
    }    
}    